<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <!-- TemplateBeginEditable name="doctitle" -->
    <title>Nazasur</title>
    <!-- TemplateEndEditable -->
    <%if 1=2 then%>
    <link href="arch/estilos.css" rel="stylesheet" type="text/css" />
    <%end if%>
    <link
      href="arch/estilos.css?r=<%randomize : Response.Write Cint(rnd(100)*1000)%>"
      rel="stylesheet"
      type="text/css"
    />
    <!-- TemplateBeginEditable name="head" -->
    <!-- TemplateEndEditable -->
  </head>
  <body>
    <div id="sup"></div>
    <div id="cuerpo">
      <!--#include virtual="head.html" -->
      <!-- TemplateBeginEditable name="Cuerpo" -->Cuerpo<!-- TemplateEndEditable -->
      <!--#include virtual="foot.html" -->
    </div>
  </body>
</html>
